.container-background {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../../assets/background.webp");
  background-size: cover;
  filter: opacity(0.4) blur(3px);
  transform: scale(1.02);
  width: 100dvw;
  height: 100dvh;
  background-position-x: 30%;
  z-index: -1;
}

.container {
  max-width: 910px;
  margin: 0 auto;
  padding-top: 3.5rem;
}
